# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
*.env

# Django stuff
*.log
db.sqlite3
staticfiles/
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
cmd.txt